$color-paste: #006d77;
$color-black: #000000;
.articles {
    padding: 50px 0;
}
.hire-me {
    background-color: $color-paste;
    border: 1px solid red;
    border-color: $color-paste;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    outline: none;

    &:hover {
        background-color: #e5e5e5;
        border-color: hsl(42, 78%, 60%);
        border: 1px solid hsl(42, 78%, 60%);
    }
}
.card-body {
    background-color: $color-black;
}
.card {
    border: none;
    .card-title {
        text-transform: uppercase;
        color: $color-paste;
    }

    .card-text {
        color: #e5e5e5;
    }
}
