$color-paste: #006d77;
.homepage {
    overflow: auto;
    background-color: #1e1e1e;
    // height: 100vh;
    .container {
        height: 100vh;
    }
    .row {
        height: 100%;
    }

    .col-lg-6 {
        display: flex;
        align-items: center;
        margin-top: 100px;
    }

    .home-text {
        padding-left: 2%;
        width: 100%;

        h1 {
            font-size: 3rem;
            color: $color-paste;
            font-weight: bold;
            position: relative;
            letter-spacing: 2px;
            &::before {
                content: "";
                position: absolute;
                width: 25%;
                border: 0.25rem solid $color-paste;
                border-radius: 10px;
                top: -10px;
            }
        }

        h4 {
            font-size: 1rem;
            color: #006d77;
            letter-spacing: 3px;
            margin: 10px 0;
        }

        .hire-me {
            color: #000;
            background-color: $color-paste;
            border: 1px solid red;
            border-color: $color-paste;
            padding: 10px 20px;
            border-radius: 10px;
            margin-top: 10px;
            text-transform: uppercase;
            letter-spacing: 5px;
            outline: none;

            &:hover {
                background-color: transparent;
                border-color: $color-paste;
                border: 1px solid $color-paste;
                color: $color-paste;
            }
        }

        .icon {
            margin-top: 20px;
            .social-icon {
                margin-right: 8%;
                color: #006d77;
                font-size: 30px;

                &:hover {
                    color: $color-paste;
                }
            }
        }
    }

    .profile-pic {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border: 0.25rem solid $color-paste;
            right: 0rem;
            border-radius: 10px;
        }
    }
}
