.navbar-brand {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #000000 !important;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    font-size: 18px;
    letter-spacing: 2px;
    color: #000000 !important;

    &:hover {
        color: #fff !important;
    }
}

.btn-down {
    outline: none;
    font-size: 18px;
    letter-spacing: 2px;
    border: 1px solid #000;
    color: #e5e5e5;
    text-transform: uppercase;
    background-color: #000000;

    &:hover {
        background-color: transparent;
        color: #000000;
    }
}
